.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.imageColumn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

.textColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--content-text-color);
}

.textColumn h1, .textColumn p {
    margin: 0;
    padding: 0;
}

.textColumn h1 {
    text-align: center;
}

.textColumn p {
    text-align: left;
}

@media (max-width: 768px) {
    .intro {
        grid-template-columns: 1fr;
    }

    .image {
        max-width: 100%;
    }
}