.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem;
    background-color: var(--nav-footer-background);
    color: var(--foreground);
}

.footer a {
    margin: 0 1rem;
    color: var(--foreground);
    padding: 10px;
}

@media (hover: hover) and (pointer: fine) {
    .footer a:hover {
        opacity: 0.7;
        background-color: var(--nav-footer-hover);
        border-radius: 5px;
    }
}
