.container {
    width: 100%;
    background-color: var(--nav-footer-background);
    color: var(--foreground);
}

.header {
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.topnav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nav-footer-background); /* Ensure it has a background color */
    z-index: 1000; /* Ensure it stays above other content */
    opacity: 97%;
}

.topnav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: var(--foreground);
}

@media (hover: hover) and (pointer: fine) {
    .topnav a:hover {
        background-color: var(--nav-footer-hover);
        border-radius: 15px;
    }
}
.active {
    font-weight: bold;
    color: var(--nav-footer-active);
}




