@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
    --nav-footer-background: #111;
    --content-background: #4f4f4f;
    --nav-footer-hover: #575757;
    --nav-footer-active: #1E90FF;
    --content-text-color: #ededed;
    --link-color: #1E90FF;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f0f0f0; /* Light gray background */
    --foreground: #333; /* Dark text color */
    --nav-footer-background: #fff; /* White header and footer */
    --content-background: #ededed; /* Light gray content background */
    --nav-footer-hover: #dcdcdc; /* Light gray hover color */
    --nav-footer-active: #1E90FF; /* Keeping the active color the same */
    --content-text-color: #333; /* Dark text color */
    --link-color: #1E90FF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

.contentContainer {
  padding-top: 100px;
  padding-bottom: 75px;
  margin: auto;
  width: 75%;
  overflow-y : hidden;
  background-color: var(--background);
  max-width: 1700px;
}

.pageTitle {
  padding-top: 25px;
  text-align: center;
}

h1 {
  font-size: 2em; /* Adjust the font size for h1 */
  margin: 0;
}

p {
  font-size: 1em; /* Adjust the font size for p */
  margin: 0;
}


@media (max-width: 768px) {
  /* Adjust this value based on your mobile breakpoint */
  .contentContainer {
    width: 97%;
  }
}
